* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}
#box {
    min-width: 100%;
}


li {
    border-bottom: 1px solid grey;
    margin-top: 3px;
    min-height: 50px;
}
ul {
    list-style: none;
    /* position: relative;
    right: -15%;    */
    text-align: center;
    display: flex;
    justify-content: center;
}

.exit {
    float: right;
    color: red;
    font-size: 30px;
    cursor: pointer;
    margin-top: 3px;
    
}

#check_font {
    color: green;
    font-size: 30px;
}

#font {
    font-size: 25px;
}

#recycle_bin {
    font-size: 20px;
}

.item0 {
    min-width: 5%;
    margin-left: 10px;
}
.item1{
    min-width: 20%;
}
.item2{
    min-width: 10%;
}
.item3{
    min-width: 15%;
}
.item4{
    min-width: 15%;
}
.item5{
    min-width: 10%;
}
.item6{
    min-width: 15%;
}
.item7 {
    min-width: 5%;
    margin-right: 10px;
}

.list-text {
    text-decoration: line-through;
}

/* @media only screen and (max-width: 1315px) {
    .item6 {
        display:none;
        color: red;
    }
  } */